<div class="search">
  <h2>Encuentra ofertas para todas las temporadas</h2>
  <div>Desde casas acogedoras hasta modernos apartamentos</div>
  <%= render "partials/search" %>
</div>

<div>
  <h2>List of Hotels</h2>
  <%= link_to "See more", root_path %>
</div>

<div>
  <h3 class="text-center">Save time and money</h3>
  <p>Subscribe</p>
</div>
