<div class="search">
  <h2>Find offers all year round! </h2>
  <div>From cozy houses to modern apartments..</div>
  <%= render "partials/search" %>
</div>

<div>
  <h2>List of Hotels</h2>
  <%= link_to "See more", root_path %>
</div>

<div>
  <h3 class="text-center">Save time and money</h3>
  <p>Subscribe</p>
</div>
