body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.25px;
}

a {
  color: #067df7;
  text-decoration: none;
}

a[data-method='delete']:hover {
  color: #8e24aa;
}

nav {
  background-color: #003580;
  margin-bottom: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  &.header-admin {
    background-color: #202124;
  }
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
    position: relative;
  }
  img {
    width: 150px;
  }
  .logo {
    &:hover {
      background: transparent !important;
    }
  }
}

.navbar {
  display: flex;
  padding: 10px 30px;
  align-items: center;
  justify-content: space-between;

  a {
    margin-right: 5px;
    padding: 8px;
    border-radius: 3px;
    &:hover {
      transition: all ease 0.2s;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}

.pad {
  @media screen and (max-width: 1200px) {
    padding: 1em;
  }
}

.actions {
  margin: 1em 0;
}

.field {
  margin-top: 1em;
  label {
    min-width: 120px;
    display: inline-block;
  }
  input {
    padding: 3px 7.5px;
  }
}

.flash-notice {
  background: #fdf;
  padding: 8px;
  margin-right: -8px;
}

.small-text {
  font-size: 14px;
}

table {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 2em;
}

table td,
table th {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  padding: 0.5em 0.75em;
  vertical-align: center;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  & > div {
    max-width: calc(25% - 20px);
    padding: 10px;
  }
  img {
    margin-top: 10px;
    max-width: 100%;
  }
}

/* inputs */
input {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #123;
  padding: 10px 16px;
  border-radius: 2px;
  transition: all 0.3s;

  &:not([type='submit']) {
    box-shadow: 0 0 0 1px transparent inset;
    min-height: 20px;
  }

  &[type='number'] {
    width: 100px;
  }
}

.search {
  padding: 20px 15px;
  margin: 0 -15px;
  background: #f7f7f7;
  margin-bottom: 2em;
  .search__options {
    display: flex;
    align-items: center;
    margin: 1em 0;
    padding: 4px;
    border-radius: 4px;
    background-color: #febb02;
    & > div {
      display: flex;
    }
  }
  .location input {
    width: 230px;
  }
  input {
    border: none;
    &:focus,
    &:active {
      box-shadow: 0 0 0 1px #d59c00 inset;
      outline: none;
    }
    &[type='submit'] {
      background-color: #07c;
      color: #fff;
      font-size: 18px;
      border-radius: 2px;
      &:hover {
        cursor: pointer;
        background: #005999;
      }
    }
  }
  h2 {
    margin-bottom: 5px;
    color: #383838;
  }
}

/* helpers */
.text-center {
  text-align: center;
}

.row {
  display: flex;
  margin-top: 1.75em;

  .media {
    width: 35%;
  }

  img {
    width: 100%;
    border-radius: 3px;
  }

  .info {
    padding: 1em;
  }

  h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    margin-top: 0;
    a {
      color: inherit;
      &:hover {
        color: #003580;
      }
    }
  }
}

.card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  color: #4a4a4a;
  max-width: 100%;
  border-radius: 4px;
  position: relative;
  transition: all 0.3s;
}
